# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Shooty.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\nahel\Documents\Github\Shooty\.idea\.idea.Shooty\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
